    .Header {
        margin-top: 100px;
        margin-left: 100px;
        color: tomato;
        font-size: 12px;
    }
    
    .headerbtn1 {
        background-color: #fd0031;
        width: 150px;
        border-radius: 1px;
        text-align: center;
    }
    
    .headerbtn2 {
        background-color: #001a33;
        width: 190px;
        text-align: center;
        margin-left: 10px;
    }
    
    .graphic1 {
        height: 50px;
        margin-left: 750px;
    }
    
    .graph2 {
        margin-top: 100px;
    }
    
    .mainbtn {
        color: #fff;
        display: flex;
        height: 40px;
    }
    
    .Header2 {
        font-size: 16px;
        text-align: center;
        margin-top: 200px;
    }
    
    .Header3 {
        font-size: 16px;
        text-align: center;
        margin-top: 400px;
        font-weight: 900px;
    }
    
    .para {
        font-size: 15px;
        color: black;
        font-weight: bold;
    }
    
    .btn1 {
        font-size: 8px;
        background-color: #f00031;
    }
    
    .btn3 {
        margin-left: 100px;
        height: 40px;
    }
    
    .forminput {
        width: 650px;
        margin-left: 420px;
        box-sizing: border-box;
        border-radius: 0.5;
        box-shadow: gray;
        height: 40px;
    }
    
    .search {
        background: #000;
        color: black;
        height: 150px;
    }
    
    .section {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 200px;
        border: 1px solid #000;
        width: 250px;
        height: 250px;
        padding-top: 80px;
        padding-left: 10px;
        box-shadow: 0px 0px 12px gray;
        z-index: 100;
        border-spacing: 5px;
    }
    
    .section1 {
        text-align: center;
        display: flex;
        text-decoration: none;
        margin-left: 400px;
        margin-top: 40px;
        font-weight: bold;
        font-size: 20px;
    }
    
    .section2 {
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }
    
    .section3 {
        margin-left: 100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-evenly;
        margin-left: 250px;
    }
    
    .section4 {
        display: flex;
    }
    
    .section5 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 80px;
        margin-left: 680px;
    }
    
    .section6 {
        height: 40px;
        margin-left: 160px;
        margin-top: 50px;
        background-color: #fd0036;
        width: 150px;
        text-align: center;
        border-radius: 20px;
        color: beige;
    }
    
    .shield {
        margin-top: -350px;
        padding-top: -400px;
    }
    
    .section7 {
        margin-left: 80px;
        margin-top: -500px;
        padding-top: -500px;
        display: flex;
        flex-direction: column;
    }
    
    .mobilescreen {
        margin-left: 750px;
        margin-top: 50px;
    }
    
    .avatar {
        margin-left: 850px;
    }
    
    .broken {
        height: 100px;
    }
    
    .section8 {
        margin-left: 80px;
        margin-top: 50px;
    }
    
    .section9 {
        margin-left: -15px;
    }
    
    .mainsection {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    
    .bottom {
        font-size: 10px;
    }
    
    .btn3 {
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mini1 {
        margin-top: 250px;
    }
    
    .mini2 {
        margin-top: 320px;
    }
    
    .mini3 {
        margin-top: 100px;
    }
    
    .mini4 {
        margin-top: 150px;
    }
    
    .mini5 {
        margin-top: 200px;
        border-right: 1px;
        border-top: 1px solid #000;
        border-top-width: 25px;
        border-bottom-width: 35px;
        width: 300px;
        height: 400px;
        text-align: center;
        padding-top: 150px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        background-color: hotpink;
    }
    
    .section4 .flap {
        width: 45%;
        height: 675px;
        background: transparent linear-gradient(180deg, #FD6F82 0%, var(--unnamed-color-fe885d) 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #FD6F82 0%, #FE885D 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        transform: skew(14deg);
        margin-left: -9%;
        margin-top: 10%;
        position: relative;
    }
    
    .flap {
        width: 15%;
        height: 500px;
        background: transparent linear-gradient(180deg, #FD6F82 0%, var(--unnamed-color-fe885d) 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #FD6F82 0%, #FE885D 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: -230px;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;
        margin-left: 85%;
        position: absolute;
    }
    
    .section4 .box {
        text-align: left;
        font: normal normal bold 27px/76px Noto Sans;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: capitalize;
        opacity: 1;
        position: absolute;
        margin-top: 35%;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 5%;
    }
    
    .searchbar .flap {
        margin-left: -7%;
        height: 300px;
        background: transparent linear-gradient(180deg, #F0EAE9 0%, var(--unnamed-color-fe885d) 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #F0EAE9 0%, #F0EAE9 100%) 0% 0% no-repeat padding-box;
        width: 20%;
        margin-top: -50px;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
    }
    
    .avatar2 .flap {
        height: 350px;
        width: 15%;
        margin-top: 350px;
        background: transparent linear-gradient(180deg, #F0EAE9 0%, var(--unnamed-color-fe885d) 100%) 0% 0% no-repeat padding-box;
        background: transparent linear-gradient(180deg, #F0EAE9 0%, #F0EAE9 100%) 0% 0% no-repeat padding-box;
    }
    
    .mini6 {
        margin-top: 300px;
        margin-left: 30px;
    }
    
    .mini7 {
        margin-top: 400px;
        margin-left: 50px;
    }
    
    .mini8 {
        margin-top: 300px;
        margin-left: 50px;
    }
    
    .box {
        border-color: #f00031;
    }
    
    .playstore {
        height: 50px;
        width: 25px;
    }
    
    .Learn {
        background-color: #fd0036;
        width: 150px;
        text-align: center;
        border-radius: 20px;
        color: beige;
        margin-left: 690px;
        margin-top: 30px;
    }
    
    .searchbar {
        display: flex;
        position: absolute;
    }
    
    .searchbtn {
        background-color: #f00031;
        height: 40px;
    }
    
    .engi {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .health {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .agri {
        height: 30px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .info {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .food {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .gover {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .portfolio {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .bids {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .live {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .pay {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .track {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .customer {
        height: 20px;
        width: 20px;
        margin-left: -80px;
        margin-bottom: 30px;
        margin-top: -30px;
    }
    
    .rocket {
        height: 150px;
        width: 60px;
        margin-left: 80px;
        margin-bottom: -30px;
        margin-top: -30px;
        padding-bottom: 50px;
    }
    
    .telentsearch {
        height: 150px;
        width: 80px;
        margin-left: 80px;
        margin-bottom: -20px;
        padding-bottom: 50px;
        margin-top: -30px;
    }
    
    .chat {
        padding-bottom: 50px;
        height: 150px;
    }
    
    .complex {
        height: 450px;
        width: 40px;
        margin-left: 80px;
        margin-bottom: -20px;
        margin-top: -80px;
    }
    
    .handshake {
        height: 450px;
        width: 40px;
        margin-left: 80px;
        margin-bottom: -20px;
        margin-top: -250px;
    }
    
    .graph {
        height: 450px;
        width: 40px;
        margin-left: 80px;
        margin-bottom: -20px;
        margin-top: -80px;
    }
    
    .review {
        margin-left: 80px;
        margin-top: 450px;
        color: #001a33;
    }
    
    .person {
        margin-left: 10px;
        margin-top: 20px;
        margin-bottom: 170px;
        color: #001a33;
    }
    
    .hirebtn {
        color: #fff;
        align-items: center;
    }
    
    .searchlab {
        color: #fff;
        align-items: center;
    }
    
    .learnbtn {
        color: #fff;
        align-items: center;
    }
    
    .joinbtn {
        color: #fff;
    }
    
    .users {
        height: 70px;
        margin-left: 325px;
        margin-top: 225px;
    }
    
    .user {
        margin-left: 325px;
        margin-top: 100px;
    }
    
    .us {
        margin-left: 300px;
        margin-top: 100px;
    }
    
    .uk {
        margin-left: 300px;
        margin-top: 100px;
    }
    
    .project {
        display: flex;
        flex-direction: row;
    }
    
    .avatar2 {
        display: flex;
        flex-direction: row;
    }
    
    .blank {
        margin-top: 400px;
        margin-left: 350px;
    }